.wh-color {
  color: #fff !important;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border: 0;
}

.movie-list img {
  max-height: 280px;
  width: 100%;
  object-fit: cover;
}

.movie-detail .movie-title {
  color: #FFFFFF;
  background: #746A64;
  font-size: 1.3em;
}

.movie-detail .movie-poster img {
  max-height: 200px;
}

.movie-detail .movie-year {
  font-size: 1.2em;
}

.movie-detail .movie-time {
  font-size: 0.8em;
}

.movie-detail .movie-rating {
  font-size: 0.9em;
}

.movie-detail .movie-favorite-btn button {
  border: 0;
  width: 100%;
  background: #746A64;
  padding: 15px 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #FFFFFF;
}

.movie-detail .movie-description {
  font-size: 0.9em;
  color: #757575;
  font-weight: 500;
}

.movie-detail .trailer-title {
  border-bottom: 1px solid #DEDEDE;
}

.movie-detail .trailer-title h2 {
  font-size: 0.9em;
  color: #757575;
}

.movie-detail .trailers .single-trailer {
  background: #FAFAFA;
  border-radius: 2px;
  color: #757575;
  padding: 10px;
  margin-bottom: 10px;
}